@charset "UTF-8";
/*------------------------------------*\
            ¡FLEXBOX MIXINS
\*------------------------------------*/
/*------------------------------------*\
                ¡HELPERS
\*------------------------------------*/
/********************
¡CLASSES
********************/
.lk-clear:after, .lk-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both; }

.lk-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1200px; }
  @media screen and (max-width: 649px) {
    .lk-squeeze {
      padding: 0 10px; } }

.lk-squeeze-tight {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 480px; }
  @media screen and (max-width: 649px) {
    .lk-squeeze-tight {
      padding: 0 10px; } }

.show-mobile-inline,
.show-mobile-block {
  display: none !important; }

@media screen and (max-width: 768px) {
  .show-mobile-inline {
    display: inline-block; } }

@media screen and (max-width: 768px) {
  .show-mobile-block {
    display: block !important; } }

@media screen and (max-width: 649px) {
  .hide-mobile {
    display: none; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/**
 * Add/remove margins
 */
.push {
  margin: 20px !important; }

.push--top {
  margin-top: 20px !important; }

.push--right {
  margin-right: 20px !important; }

.push--bottom {
  margin-bottom: 20px !important; }

.push--left {
  margin-left: 20px !important; }

.push--ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.push--sides {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.push-half {
  margin: 10px !important; }

.push-half--top {
  margin-top: 10px !important; }

.push-half--right {
  margin-right: 10px !important; }

.push-half--bottom {
  margin-bottom: 10px !important; }

.push-half--left {
  margin-left: 10px !important; }

.push-half--ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.push-half--sides {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.push-large--bottom {
  margin-bottom: 40px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/**
 * Add/remove paddings
 */
.pad {
  padding: 20px !important; }

.pad--top {
  padding-top: 20px !important; }

.pad--right {
  padding-right: 20px !important; }

.pad--bottom {
  padding-bottom: 20px !important; }

.pad--left {
  padding-left: 20px !important; }

.pad--ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.pad--sides {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.pad-half {
  padding: 10px !important; }

.pad-half--top {
  padding-top: 10px !important; }

.pad-half--right {
  padding-right: 10px !important; }

.pad-half--bottom {
  padding-bottom: 10px !important; }

.pad-half--left {
  padding-left: 10px !important; }

.pad-half--ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pad-half--sides {
  padding-right: 10px !important;
  padding-left: 10px !important; }

.pad-large--sides {
  padding-right: 40px !important;
  padding-left: 40px !important; }

.pad-large--left {
  padding-left: 40px !important; }

.pad-large--right {
  padding-right: 40px !important; }

/**
 * Floats
 */
.none {
  float: none !important; }

.pull--right {
  float: right !important; }

.pull--left {
  float: left !important; }

.clear {
  display: block;
  float: none;
  clear: both; }

/**
 * Centering elements
 */
.center--vertical {
  vertical-align: middle; }

.center--horizontal {
  margin: 0 auto;
  display: block; }

.text--center {
  text-align: center !important; }

.text--left {
  text-align: left !important; }

.text--right {
  text-align: right !important; }

.centered-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.primary {
  color: #52B4CD; }

.bold {
  font-weight: bold; }

.border--bottom {
  border-bottom: 1px dotted #ccc; }

/**
 * Align a grid child element
 */
.justify--end {
  justify-self: end; }

/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h4 {
  font-size: 1.25rem;
  letter-spacing: 2px; }

.spacing {
  line-height: 1.5rem; }

.iceberg-link {
  display: block;
  text-decoration: none;
  color: #249095; }

.emphasis {
  color: #020202;
  font-weight: 600; }

/**
 * for specific menu items
 */
.highlight {
  padding: 10px 100px 10px 7px;
  background-image: linear-gradient(to right, rgba(173, 219, 210, 0.8) 100%, rgba(173, 219, 210, 0.8) 50%); }
  @media screen and (max-width: 768px) {
    .highlight {
      padding: 10px; } }

/*------------------------------------*\
                ¡LAYOUT
\*------------------------------------*/
/*---------------------------------------------------------------------------*\
                                      ¡GENERAL
\*---------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%; }

body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f9f9f9' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }

/*------------------------------------*\
              ¡HOME PAGE
\*------------------------------------*/
.home-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 300px auto;
  grid-row-gap: 3.125rem; }
  .home-container .header {
    grid-column: 1 / span 2;
    display: grid;
    align-items: center;
    border-bottom: 2px solid black; }
    .home-container .header-content {
      text-align: center; }
    .home-container .header-title {
      font-family: 'Noto Serif', serif;
      font-size: 3.625rem; }
    .home-container .header-subtitle {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.75rem;
      font-weight: bold;
      color: #ccc;
      letter-spacing: 1px;
      margin-top: -5px; }
  .home-container .details {
    display: grid;
    border-right: 2px solid black;
    grid-template-rows: 0fr 0fr 0fr;
    padding-right: 40px; }
  .home-container .content {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px; }
  @media screen and (max-width: 991px) {
    .home-container {
      grid-template-columns: 300px 1fr; } }
  @media screen and (max-width: 768px) {
    .home-container {
      display: block; }
      .home-container .header-content {
        margin: 20px 0; }
      .home-container .header-title {
        font-size: 2.625rem; }
      .home-container .header-subtitle {
        font-size: 1.25rem; }
      .home-container .details {
        border-right: none;
        padding-right: 0; }
      .home-container .content {
        padding-left: 0;
        padding-top: 0; } }
  @media screen and (max-width: 649px) {
    .home-container .header-title {
      font-size: 1.625rem; } }

.iceberg-logo {
  width: 300px; }
  @media screen and (max-width: 768px) {
    .iceberg-logo {
      width: 200px; } }

.original-images {
  width: 100%; }

.schedule {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem dashed #ccc; }

.label {
  position: relative;
  bottom: -0.25rem;
  background-color: #fff; }
  .label:first-of-type {
    padding-right: 0.5rem; }
  .label:last-of-type {
    padding-left: 0.5rem; }

.highlight-bottom {
  border-bottom: 2px solid black; }

/*------------------------------------*\
              ¡MENU PAGE
\*------------------------------------*/
.menu-header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px auto;
  grid-row-gap: 3.125rem; }
  .menu-header-container .header {
    grid-column: 1 / span 2;
    display: grid;
    align-items: center;
    border-bottom: 2px solid black; }
    .menu-header-container .header-content {
      text-align: center; }
    .menu-header-container .header-title {
      font-family: 'Noto Serif', serif;
      font-size: 3.625rem; }
    .menu-header-container .header-subtitle {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.75rem;
      font-weight: bold;
      color: #ccc;
      letter-spacing: 1px;
      margin-top: -5px; }
  .menu-header-container .details {
    display: grid;
    border-right: 2px solid black;
    grid-template-rows: 0fr 0fr 0fr;
    padding-right: 40px; }
  .menu-header-container .content {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .menu-header-container {
      display: block; }
      .menu-header-container .header-content {
        margin: 20px 0; }
      .menu-header-container .header-title {
        font-size: 2.625rem; }
      .menu-header-container .header-subtitle {
        font-size: 1.25rem; }
      .menu-header-container .details {
        border-right: none;
        padding-right: 0; }
      .menu-header-container .content {
        padding-left: 0;
        padding-top: 0; } }
  @media screen and (max-width: 649px) {
    .menu-header-container .header-title {
      font-size: 1.625rem; } }

.menu-categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  @media screen and (max-width: 768px) {
    .menu-categories-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 20px 20px;
      grid-row-gap: 2.25rem;
      padding-top: 2.25rem; } }
  @media screen and (max-width: 649px) {
    .menu-categories-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-row-gap: .9375rem;
      padding-top: 1.25rem; } }

.category-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase; }
  .category-title a {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000; }
  .category-title a:hover {
    background-image: linear-gradient(to right, rgba(173, 219, 210, 0.8) 100%, rgba(173, 219, 210, 0.8) 50%); }
  .category-title a:active {
    background-image: linear-gradient(to right, rgba(173, 219, 210, 0.8) 100%, rgba(173, 219, 210, 0.8) 50%); }
  @media screen and (max-width: 649px) {
    .category-title {
      font-size: 1rem; } }

.menu-container {
  border: 2px solid #000;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 25px 75px; }
  @media screen and (max-width: 768px) {
    .menu-container {
      padding: 25px; } }
  .menu-container .menu-header {
    padding: 50px; }
    .menu-container .menu-header-title {
      font-size: 18pt;
      text-transform: uppercase;
      text-align: center; }
    .menu-container .menu-header-info {
      padding-top: 1.25rem;
      line-height: 1.25rem;
      text-align: center;
      letter-spacing: 1px;
      font-size: .875rem;
      text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      .menu-container .menu-header {
        padding: 25px; }
        .menu-container .menu-header-title {
          font-size: 16pt; } }
  .menu-container .menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(2, 2, 2, 0.3);
    padding: 25px 0; }
    @media screen and (max-width: 768px) {
      .menu-container .menu-item {
        display: block;
        text-align: center; } }
    .menu-container .menu-item .title {
      flex: 1;
      font-size: 1.0625rem;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px; }
      @media screen and (max-width: 768px) {
        .menu-container .menu-item .title {
          padding-bottom: 25px; } }
    .menu-container .menu-item .price {
      flex: 0;
      color: #020202;
      text-transform: uppercase;
      font-size: 1.0625rem; }
    .menu-container .menu-item .price-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: .9375em;
      grid-column-gap: 1.875rem;
      justify-items: center; }
      @media screen and (max-width: 768px) {
        .menu-container .menu-item .price-grid {
          grid-column-gap: 0;
          grid-template-columns: 0fr 0fr;
          justify-content: center; } }
      .menu-container .menu-item .price-grid .column-title {
        padding: 0 10px;
        color: #020202;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 500;
        letter-spacing: 1px; }
      .menu-container .menu-item .price-grid .column-price {
        color: #020202;
        text-transform: uppercase;
        font-size: 1.0625rem; }
    .menu-container .menu-item .inline-price-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3.125rem; }
      @media screen and (max-width: 768px) {
        .menu-container .menu-item .inline-price-grid {
          grid-template-columns: 0fr 0fr 0fr;
          justify-content: center; } }
  .menu-container .menu-item:last-child {
    border-bottom: none; }

.flavors-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 20px;
  justify-items: center; }
  @media screen and (max-width: 768px) {
    .flavors-wrapper {
      grid-row-gap: 10px; } }
  .flavors-wrapper .flavor {
    color: #020202;
    text-transform: uppercase;
    font-weight: 500; }

/*# sourceMappingURL=main.css.map */
