/*---------------------------------------------------------------------------*\
                                      ¡GENERAL
\*---------------------------------------------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f9f9f9' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}



/*------------------------------------*\
              ¡HOME PAGE
\*------------------------------------*/

.home-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: config(home-header) auto;
  grid-row-gap: 3.125rem; // gap below header

  .header {
    grid-column: 1 / span 2;
    display: grid;
    align-items: center;
    border-bottom: 2px solid black;

    &-content {
      text-align: center;
    }

    &-title {
      font-family: 'Noto Serif', serif;
      font-size: 3.625rem; // 58px
    }

    &-subtitle {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.75rem; // 28px
      font-weight: bold;
      color: #ccc;
      letter-spacing: 1px;
      margin-top: -5px;
    }
  }

  .details {
    display: grid;
    border-right: 2px solid black;
    grid-template-rows: 0fr 0fr 0fr;
    padding-right: $large-spacing-unit;
  }

  .content {
    padding-left: $large-spacing-unit;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
  }

  @media screen and (max-width: breakpoint(tablet-lg)) {
    grid-template-columns: 300px 1fr;
  }

  @media screen and (max-width: breakpoint(tablet)) {
    display: block;

    .header {
      &-content {
        margin: $base-spacing-unit 0;
      }

      &-title {
        font-size: 2.625rem;
      }

      &-subtitle {
        font-size: 1.25rem;
      }
    }

    .details {
      border-right: none;
      padding-right: 0;
    }

    .content {
      padding-left: 0;
      padding-top: 0;
    }
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    .header {
      &-title {
        font-size: 1.625rem;
      }
    }
  }
}

.iceberg-logo {
  width: 300px;

  @media screen and (max-width: breakpoint(tablet)) {
    width: 200px;
  }
}

.original-images {
  width: 100%;
}

.schedule {
  display: flex;
  justify-content: space-between;

  border-bottom: 0.0625rem dashed color(border-color);
}

.label {
  position: relative;
  bottom: -0.25rem;
  background-color: #fff;

  &:first-of-type {
    padding-right: 0.5rem;
  }

  &:last-of-type {
    padding-left: 0.5rem;
  }
}

.highlight-bottom {
  border-bottom: 2px solid black;
}



/*------------------------------------*\
              ¡MENU PAGE
\*------------------------------------*/

.menu-header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: config(home-header) auto;
  grid-row-gap: 3.125rem; // gap below header

  .header {
    grid-column: 1 / span 2;
    display: grid;
    align-items: center;
    border-bottom: 2px solid black;

    &-content {
      text-align: center;
    }

    &-title {
      font-family: 'Noto Serif', serif;
      font-size: 3.625rem; // 58px
    }

    &-subtitle {
      font-family: 'Noto Sans', sans-serif;
      font-size: 1.75rem; // 28px
      font-weight: bold;
      color: #ccc;
      letter-spacing: 1px;
      margin-top: -5px;
    }
  }

  .details {
    display: grid;
    border-right: 2px solid black;
    grid-template-rows: 0fr 0fr 0fr;
    padding-right: $large-spacing-unit;
  }

  .content {
    padding-left: $large-spacing-unit;
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
  }

  @media screen and (max-width: breakpoint(tablet)) {
    display: block;

    .header {
      &-content {
        margin: $base-spacing-unit 0;
      }

      &-title {
        font-size: 2.625rem;
      }

      &-subtitle {
        font-size: 1.25rem;
      }
    }

    .details {
      border-right: none;
      padding-right: 0;
    }

    .content {
      padding-left: 0;
      padding-top: 0;
    }
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    .header {
      &-title {
        font-size: 1.625rem;
      }
    }
  }
}

.menu-categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media screen and (max-width: breakpoint(tablet)) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 20px;
    grid-row-gap: 2.25rem;
    padding-top: 2.25rem;
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: .9375rem; // 15px
    padding-top: 1.25rem;
  }
}

.category-title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;

  a {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: color(black);
  }

  a:hover {
    background-image: linear-gradient(to right, rgba(173, 219, 210, 0.8) 100%, rgba(173, 219, 210, 0.8) 50%);
  }

  a:active {
    background-image: linear-gradient(to right, rgba(173, 219, 210, 0.8) 100%, rgba(173, 219, 210, 0.8) 50%);
  }

  @media screen and (max-width: breakpoint(phone-lg)) {
    font-size: 1rem;
  }
}

.menu-container {
  border: 2px solid color(black);
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 25px 75px;

  @media screen and (max-width: breakpoint(tablet)) {
    padding: 25px;
  }

  .menu-header {
    padding: 50px;

    &-title {
      font-size: 18pt;
      text-transform: uppercase;
      text-align: center;
    }

    &-info {
      padding-top: 1.25rem; // 20px
      line-height: 1.25rem; // 20px
      text-align: center;
      letter-spacing: 1px;
      font-size: .875rem; // 14px
      text-transform: uppercase;
    }

    @media screen and (max-width: breakpoint(tablet)) {
      padding: 25px;

      &-title {
        font-size: 16pt;
      }
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(2, 2, 2, 0.3);
    padding: 25px 0;

    @media screen and (max-width: breakpoint(tablet)) {
      display: block;
      text-align: center;
    }

    .title {
      flex: 1;
      font-size: 1.0625rem; // 17px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;

      @media screen and (max-width: breakpoint(tablet)) {
        padding-bottom: 25px;
      }
    }

    .price {
      flex: 0;
      color: color(menu-font);
      text-transform: uppercase;
      font-size: 1.0625rem; // 17px;
    }

    .price-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: .9375em; // 15px
      grid-column-gap: 1.875rem; // 30px
      justify-items: center;

      @media screen and (max-width: breakpoint(tablet)) {
        grid-column-gap: 0;
        grid-template-columns: 0fr 0fr;
        justify-content: center;
      }

      .column-title {
        padding: 0 10px;
        color: color(menu-font);
        text-transform: uppercase;
        font-size: .75rem; // 12px;
        font-weight: 500;
        letter-spacing: 1px;
      }

      .column-price {
        color: color(menu-font);
        text-transform: uppercase;
        font-size: 1.0625rem; // 17px;
      }
    }

    .inline-price-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3.125rem; // 50px

      @media screen and (max-width: breakpoint(tablet)) {
        grid-template-columns: 0fr 0fr 0fr;
        justify-content: center;
      }
    }
  }

  .menu-item:last-child {
    border-bottom: none;
  }
}

.flavors-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 20px;
  justify-items: center;

  @media screen and (max-width: breakpoint(tablet)) {
    grid-row-gap: 10px;
  }

  .flavor {
    color: color(menu-font);
    text-transform: uppercase;
    font-weight: 500;
  }
}
