/*------------------------------------*\
                ¡HELPERS
\*------------------------------------*/

@mixin gridMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
}

 @mixin animation($str) {
   -webkit-animation: #{$str};
      -moz-animation: #{$str};
       -ms-animation: #{$str};
        -o-animation: #{$str};
           animation: #{$str};
}

@mixin borderBox() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin transition($str) {
  -webkit-transition: #{$str};
     -moz-transition: #{$str};
      -ms-transition: #{$str};
       -o-transition: #{$str};
          transition: #{$str};
}

@mixin transform($str) {
  -webkit-transform: #{$str};
  -moz-transform: #{$str};
  -ms-transform: #{$str};
  -o-transform: #{$str};
  transform: #{$str};
}

@mixin transformOrigin($str) {
  -webkit-transform-origin: #{$str};
  -moz-transform-origin: #{$str};
  -ms-transform-origin: #{$str};
  -o-transform-origin: #{$str};
  transform-origin: #{$str};
}

@mixin boxShadow($str) {
  -webkit-box-shadow: #{$str};
          box-shadow: #{$str};
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }
  @keyframes #{$animation-name} {
      @content;
  }
}

@mixin gradient($color-1, $color-2) {
  background-image: -o-linear-gradient(bottom, $color-1 0%, $color-2 100%);
  background-image: -moz-linear-gradient(bottom, $color-1 0%, $color-2 100%);
  background-image: -webkit-linear-gradient(bottom, $color-1 0%, $color-2 100%);
  background-image: -ms-linear-gradient(bottom, $color-1 0%, $color-2 100%);
  background-image: linear-gradient(to bottom, $color-1 0%, $color-2 100%);
  background-repeat: no-repeat;
}



/********************
¡CLASSES
********************/
.lk-clear:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
}

.lk-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  @media screen and (max-width: breakpoint(phone-lg)) {
    padding: 0 10px;
  }
}

.lk-squeeze:after {
  @extend .lk-clear;
}

.lk-squeeze-tight {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 480px;
  @media screen and (max-width: breakpoint(phone-lg)) {
      padding: 0 10px;
  }
}

.show-mobile-inline,
.show-mobile-block{
  display: none !important;
}

.show-mobile-inline {
  @media screen and (max-width: breakpoint(tablet)){
      display: inline-block;
  }
}

.show-mobile-block {
  @media screen and (max-width: breakpoint(tablet)){
      display: block !important;
  }
}

.hide-mobile {
  @media screen and (max-width: breakpoint(phone-lg)){
      display: none;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Add/remove margins
 */
$base-spacing-unit: 20px;
$half-spacing-unit: ($base-spacing-unit / 2);
$large-spacing-unit: ($base-spacing-unit * 2);

.push           { margin:       $base-spacing-unit!important; }
.push--top      { margin-top:   $base-spacing-unit!important; }
.push--right    { margin-right: $base-spacing-unit!important; }
.push--bottom   { margin-bottom:$base-spacing-unit!important; }
.push--left     { margin-left:  $base-spacing-unit!important; }
.push--ends     { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
.push--sides    { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

.push-half          { margin:       $half-spacing-unit!important; }
.push-half--top     { margin-top:   $half-spacing-unit!important; }
.push-half--right   { margin-right: $half-spacing-unit!important; }
.push-half--bottom  { margin-bottom:$half-spacing-unit!important; }
.push-half--left    { margin-left:  $half-spacing-unit!important; }
.push-half--ends    { margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
.push-half--sides   { margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }
.push-large--bottom { margin-bottom:$large-spacing-unit!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }

/**
 * Add/remove paddings
 */
.pad           { padding:       $base-spacing-unit!important; }
.pad--top      { padding-top:   $base-spacing-unit!important; }
.pad--right    { padding-right: $base-spacing-unit!important; }
.pad--bottom   { padding-bottom:$base-spacing-unit!important; }
.pad--left     { padding-left:  $base-spacing-unit!important; }
.pad--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }
.pad--sides    { padding-right: $base-spacing-unit!important; padding-left:  $base-spacing-unit!important; }

.pad-half           { padding:       $half-spacing-unit!important; }
.pad-half--top      { padding-top:   $half-spacing-unit!important; }
.pad-half--right    { padding-right: $half-spacing-unit!important; }
.pad-half--bottom   { padding-bottom:$half-spacing-unit!important; }
.pad-half--left     { padding-left:  $half-spacing-unit!important; }
.pad-half--ends     { padding-top:   $half-spacing-unit!important; padding-bottom:$half-spacing-unit!important; }
.pad-half--sides    { padding-right: $half-spacing-unit!important; padding-left:  $half-spacing-unit!important; }
.pad-large--sides   { padding-right: $large-spacing-unit!important; padding-left: $large-spacing-unit!important; }
.pad-large--left    { padding-left:  $large-spacing-unit!important; }
.pad-large--right   { padding-right: $large-spacing-unit!important; }

/**
 * Floats
 */
.none            { float: none !important; }
.pull--right     { float: right !important; }
.pull--left      { float: left !important;  }
.clear           { display: block; float: none; clear: both; }

/**
 * Centering elements
 */
.center--vertical   { vertical-align: middle; }
.center--horizontal { margin: 0 auto; display: block; }
.text--center       { text-align: center !important; }
.text--left         { text-align: left !important; }
.text--right        { text-align: right !important; }

.centered-content {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
}

.primary {
  color: color(primary);
}

.bold {
  font-weight: bold;
}

.border--bottom {
  border-bottom: 1px dotted #ccc;
}

/**
 * Align a grid child element
 */
.justify--end {
  justify-self: end;
}
