/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h4 {
  font-size: 1.25rem; // 20px;
  letter-spacing: 2px;
}

.spacing {
  line-height: 1.5rem;
}

.iceberg-link {
  display: block;
  text-decoration: none;
  color: color(link-color);
}

.emphasis {
  color: color(menu-font);
  font-weight: 600;
}

/**
 * for specific menu items
 */
.highlight {
  padding: 10px 100px 10px 7px;
  background-image: linear-gradient(to right, rgba(173, 219, 210, 0.8) 100%, rgba(173, 219, 210, 0.8) 50%);

  @media screen and (max-width: breakpoint(tablet)) {
    padding: 10px;
  }
}
