$configs: (
  home-header: 300px,
  header: 65px,
  footer: 100px,
  sidebar: 300px,
  grid-gap: 2rem
);

$colors: (
  white: #fff,
  black:#000,
  primary: #52B4CD,
  secondary: '',
  tertiary: '',
  muted: #D8D8D8,
  error: #d63031,
  border-color: #ccc,
  link-color: #249095,
  menu-font: #020202,
  highlight-light: #ADDBD2,
);

$breakpoints: (
  phone: 399px,
  phone-lg: 649px,
  tablet: 768px,
  tablet-lg: 991px,
  desktop-lg: 1024px
);

@function config($key) {
  @if map-has-key($configs, $key) {
    @return map-get($configs, $key);
  }
  @warn "Unknown #{$key} in configs map";
  @return null;
}

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown #{$key} in colors map";
  @return null;
}

@function breakpoint($key) {
  @if map-has-key($breakpoints, $key) {
    @return map-get($breakpoints, $key);
  }
  @warn "Unknown #{$key} in breakpoints map";
  @return null;
}
