<div class="header">
  <div class="header-content">
    <img src="{{ url_for('static', filename='assets/img/iceberg_building@2x.png') }}" alt="Iceberg" class="iceberg-logo">
    <h2 class="header-title">BALLARD'S ICEBERG</h2>
    <p class="header-subtitle">DRIVE IN</p>
  </div>
</div>
