<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137876295-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-137876295-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Ballards Iceberg</title>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Restaurant",
        "name" : "Ballard's Iceberg",
        "telephone" : "(801) 571-2453",
        "address" : {
          "@type" : "PostalAddress",
          "streetAddress" : "673 E 12300 S",
          "addressLocality" : "Draper",
          "addressRegion" : "UT",
          "postalCode" : "84020"
        },
        "menu" : "https://ballardsiceberg.com/menu"
      }
    </script>
  {% endblock head %}
</head>
<body>
  {% block header %}{% endblock header %}
  {% block body %}{% endblock body %}
  {% block extrascripts %}{% endblock extrascripts %}
</body>
</html>
