{% extends "base.html" %}

{% block body %}
  <div class="lk-squeeze">
    <div class="home-container">
      {% include "partials/header.html" %}
      <div class="details pad--ends push--bottom">
        <div class="location-container highlight-bottom push--bottom pad--bottom">
          <h4 class="push-half--bottom">LOCATION</h4>
          <p>673 E 12300 S</p>
          <p>Draper, UT, 84020</p>
          <a href="{{ url_for('menu') }}" class="iceberg-link push--top">Menu</a>
          <a
            href="https://www.google.com/maps/place/Ballard's+Iceberg+Drive-in/@40.5271768,-111.8743062,17z/data=!3m1!4b1!4m5!3m4!1s0x8752876904085ad7:0x28ce3ee57a8dbad6!8m2!3d40.5271768!4d-111.8721175"
            class="iceberg-link push-half--top"
            target="_blank"
          >
            Directions
          </a>
          <a href="tel:+18015712453" class="iceberg-link push-half--top">(801) 571-2453</a>
        </div>
        <div class="schedule-container highlight-bottom push--bottom pad--bottom">
          <h4 class="push-half--bottom">HOURS</h4>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Sunday</p>
            <p class="label pad-half--left">Closed</p>
          </div>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Monday</p>
            <p class="label pad-half--left">8am - 10pm</p>
          </div>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Tuesday</p>
            <p class="label pad-half--left">8am - 10pm</p>
          </div>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Wednesday</p>
            <p class="label pad-half--left">8am - 10pm</p>
          </div>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Thursday</p>
            <p class="label pad-half--left">8am - 10pm</p>
          </div>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Friday</p>
            <p class="label pad-half--left">8am - 10:00pm</p>
          </div>
          <div class="schedule push-half--ends">
            <p class="label pad-half--right">Saturday</p>
            <p class="label pad-half--left">8am - 10pm</p>
          </div>
        </div>
      </div>
      <div class="content">
        <h1 class="push--bottom">Our Story</h1>
        <p class="spacing push-large--bottom">
          “The One and Only” Ballard’s Iceberg Drive-Inn opened their doors in June of 1960 by Allen and Alice Mae Ballard.
          Alice Mae was looking to open a business of her own, when she was introduced to a man named Hap Vitale who had a
          business model and building design for a fast food franchise. There was another location on 3900 South & 900 East
          owned by Lamar Sorenson. Mr. Vitale, apparently gave up on the franchise, and these were two separately owned and
          operated family businesses. Mr. Sorenson later sold.  The business was built in front of the Ballard’s home, where
          it is still located to this day.
        </p>
        <div class="content-images-container push-large--bottom">
          <img src="{{ url_for('static', filename='assets/img/original_images.png') }}" alt="Ballard's Iceberg" class="original-images">
        </div>
        <p class="spacing">
          Alice Mae and her husband Allen, ran the business for years. Later joined by their son Don, who took over management
          of the business, and has since been a full time hands on owner who can be seen each and every day grilling up fresh
          made to order burgers and fries. Alice Mae was still working and helping out until her death in 2008 Making this the
          Original “One and Only” Ballard’s Iceberg Drive.
        </p>
      </div>
    </div>
  </div>
{% endblock body %}
