{% extends "base.html" %}

{% block body %}
  <div class="lk-squeeze">
    <div class="menu-header-container">
      {% include "partials/header.html" %}
    </div>
    <div class="menu-categories-container">
      <h4 class="category-title"><a href="#breakfast">Breakfast</a></h4>
      <h4 class="category-title"><a href="#lunch">Lunch · Dinner</a></h4>
      <h4 class="category-title"><a href="#shakes">Shakes · Freezes · Malts</a></h4>
      <h4 class="category-title"><a href="#ice-cream">Ice Cream</a></h4>
    </div>
    <div class="menu-container">
      <div class="menu-header" id="breakfast">
        <h1 class="menu-header-title">Breakfast Sandwiches</h1>
        <p class="menu-header-info">
          Served on your choice of white or wheat toast or a sesame bun
        </p>
      </div>
      <div class="menu-item">
        <p class="title">Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">4.00</span>
          <span class="column-price">4.50</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Sausage & Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">6.00</span>
          <span class="column-price">6.50</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Bacon & Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">6.00</span>
          <span class="column-price">6.50</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Ham & Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">6.00</span>
          <span class="column-price">6.50</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Steak & Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">6.75</span>
          <span class="column-price">7.25</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Burger & Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">5.20</span>
          <span class="column-price">5.70</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Big Burger & Egg</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">6.45</span>
          <span class="column-price">6.95</span>
        </div>
      </div>
      <div class="menu-header">
        <h1 class="menu-header-title">Breakfast Burritos</h1>
        <p class="menu-header-info">
          All burritos include: cheese, onions, tomatoes & salsa on a flour tortilla
        </p>
      </div>
      <div class="menu-item">
        <p class="title">Egg (2 eggs)</p>
        <p class="price">4.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Burger and Egg</p>
        <p class="price">5.70</p>
      </div>
      <div class="menu-item">
        <p class="title">Sausage & Egg</p>
        <p class="price">6.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Diced Ham & Egg</p>
        <p class="price">7.00</p>
      </div>
      <div class="menu-item">
        <p class="title">Bacon & Egg</p>
        <p class="price">6.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Big Burger & Egg</p>
        <p class="price">6.95</p>
      </div>
      <div class="menu-item">
        <p class="title">Steak & Egg</p>
        <p class="price">7.25</p>
      </div>
      <div class="menu-header">
        <h1 class="menu-header-title">Combo Breakfast</h1>
        <p class="menu-header-info">
          Includes 2 eggs, hash browns, toast & your choice of the following:
        </p>
      </div>
      <div class="menu-item">
        <p class="title">With Bacon</p>
        <p class="price">9.00</p>
      </div>
      <div class="menu-item">
        <p class="title">With Sausage</p>
        <p class="price">9.00</p>
      </div>
      <div class="menu-item">
        <p class="title">With Big Burger</p>
        <p class="price">9.45</p>
      </div>
      <div class="menu-item">
        <p class="title">With Steak</p>
        <p class="price">9.75</p>
      </div>
      <div class="menu-item">
        <p class="title">With 6oz Hamsteak</p>
        <p class="price">11.00</p>
      </div>
      <div class="menu-header">
        <h1 class="menu-header-title">Side Orders</h1>
      </div>
      <div class="menu-item">
        <p class="title">Hash Browns (shredded or patties)</p>
        <p class="price">2.00</p>
      </div>
      <div class="menu-item">
        <p class="title">Scones</p>
        <p class="price">3.00</p>
      </div>
      <div class="menu-item">
        <p class="title">Toast</p>
        <p class="price">2.00</p>
      </div>
      <div class="menu-item">
        <p class="title">French Toast (3 slices)</p>
        <div class="price-grid">
          <span class="column-title">Half</span>
          <span class="column-title">Full</span>
          <span class="column-price">4.00</span>
          <span class="column-price">6.00</span>
        </div>
      </div>
      <div class="menu-header">
        <h1 class="menu-header-title">Beverages</h1>
      </div>
      <div class="menu-item">
        <p class="title">Coffee & Hot Chocolate</p>
        <p class="price">1.75</p>
      </div>
      <div class="menu-item">
        <p class="title">Orange Juice</p>
        <div class="inline-price-grid">
          <span class="column-title">1.60</span>
          <span class="column-price">1.75</span>
          <span class="column-price">2.35</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Milk</p>
        <div class="inline-price-grid">
          <span class="column-title">1.25</span>
          <span class="column-price">1.50</span>
          <span class="column-price">1.75</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Chocolate Milk</p>
        <div class="inline-price-grid">
          <span class="column-title">1.75</span>
          <span class="column-price">2.00</span>
          <span class="column-price">2.25</span>
        </div>
      </div>

      <div class="menu-header" id="lunch">
        <h1 class="menu-header-title">Lunch · Dinner</h1>
        <p class="menu-header-info">
          *Add bacon to any of the sandwiches for 1.35
        </p>
      </div>
      <div class="menu-item">
        <p class="title">Big Burger (Quarter LB.)</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">4.80</span>
          <span class="column-price">5.35</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Double Big Burger (1/2 LB.)</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">8.05</span>
          <span class="column-price">9.20</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Double Burger</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">4.55</span>
          <span class="column-price">5.10</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Hamburger</p>
        <p class="price">3.10</p>
      </div>
      <div class="menu-item">
        <p class="title">Cheeseburger</p>
        <p class="price">3.65</p>
      </div>
      <div class="menu-item">
        <p class="title">Steak Sandwhich</p>
        <p class="price">5.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Steak & Swiss</p>
        <p class="price">6.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Pastrami Burger</p>
        <p class="price">5.90</p>
      </div>
      <div class="menu-item">
        <p class="title">Taco</p>
        <p class="price">3.60</p>
      </div>
      <div class="menu-item">
        <p class="title">Footlong</p>
        <div class="price-grid">
          <span class="column-title">Normal</span>
          <span class="column-title">W/Cheese</span>
          <span class="column-price">3.80</span>
          <span class="column-price">4.35</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Grilled Chicken</p>
        <p class="price">6.05</p>
      </div>
      <div class="menu-item">
        <p class="title">Chicken Fillet</p>
        <p class="price">6.05</p>
      </div>
      <div class="menu-item">
        <p class="title">Spicy Chicken</p>
        <p class="price">6.05</p>
      </div>
      <div class="menu-item">
        <p class="title">Ham & Cheese</p>
        <p class="price">5.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Grilled Cheese</p>
        <p class="price">3.30</p>
      </div>
      <div class="menu-item">
        <p class="title">Turkey Burger</p>
        <p class="price">6.05</p>
      </div>
      <div class="menu-item">
        <p class="title">Fish Fillet</p>
        <p class="price">6.05</p>
      </div>
      <div class="menu-item">
        <p class="title">Fish & Chips</p>
        <p class="price">8.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Chicken and Chips</p>
        <p class="price">8.50</p>
      </div>
      <div class="menu-item">
        <p class="title">Steak Fingers (Beef Nuggets)</p>
        <p class="price">7.70</p>
      </div>
      <div class="menu-item">
        <p class="title">Corn Dog</p>
        <p class="price">3.10</p>
      </div>
      <div class="menu-item">
        <p class="title">Fries</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">2.00</span>
          <span class="column-price">3.00</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Sweet Potato Fries</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">3.10</span>
          <span class="column-price">4.20</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Onion Rings</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">3.90</span>
          <span class="column-price">5.00</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">English Chips</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">2.50</span>
          <span class="column-price">3.60</span>
        </div>
      </div>

      <div class="menu-header" id="shakes">
        <h1 class="menu-header-title">Shakes · Freezes · Malts</h1>
        <p class="menu-header-info">
          Coke, Diet Coke, Sprite, Dr. Pepper, Root Beer, Red Cream Soda, Lemonade, Fanta Orange, Raspberry Nestea. <span class="emphasis">*Add cherry or vanilla</span>
        </p>
        <p class="menu-header-info">
          <span class="emphasis">*Each additional flavor is .55</span>
        </p>
      </div>
      <div class="menu-item">
        <p class="title">Shakes/Freezes (1-2 Flavors)</p>
        <div class="price-grid">
          <span class="column-title">Regular</span>
          <span class="column-title">Large</span>
          <span class="column-price">4.40</span>
          <span class="column-price">5.75</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Malts <span>(1-2 Flavors)</span></p>
        <div class="price-grid">
          <span class="column-title">Regular</span>
          <span class="column-title">Large</span>
          <span class="column-price">4.95</span>
          <span class="column-price">6.30</span>
        </div>
      </div>
      <div class="menu-header">
        <h1 class="menu-header-title">Flavors</h1>
      </div>
      <div class="flavors-wrapper">
        <p class="flavor">FRESH BANANA</p>
        <p class="flavor">STRAWBERRY</p>
        <p class="flavor">RED RASPBERRY</p>
        <p class="flavor">BLACK RASPBERRY</p>
        <p class="flavor">PINEAPPLE</p>
        <p class="flavor">PEACH</p>
        <p class="flavor">BLUEBERRY</p>
        <p class="flavor">CHERRY</p>
        <p class="flavor">OREO</p>
        <p class="flavor">HEATH</p>
        <p class="flavor">M&MS</p>
        <p class="flavor">SNICKERS</p>
        <p class="flavor">REESES</p>
        <p class="flavor">BUTTERFINGER</p>
        <p class="flavor">BROWNIE</p>
        <p class="flavor">CHOCOLATE</p>
        <p class="flavor">VANILLA</p>
        <p class="flavor">CARAMEL</p>
        <p class="flavor">BUTTERSCOTCH </p>
        <p class="flavor">MARSHMALLOW</p>
        <p class="flavor">MINT</p>
        <p class="flavor">COCONUT</p>
        <p class="flavor">COOKIE DOUGH</p>
        <p class="flavor">GERMAN CHOCOLATE</p>
        <p class="flavor">CHOCOLATE CHIP</p>
        <p class="flavor">HOT FUDGE</p>
        <p class="flavor">PEANUT BUTTER</p>
        <p class="flavor">CHEESE CAKE</p>
        <p class="flavor">*PUMPKIN</p>
        <p class="flavor">*EGG NOG</p>
      </div>
      <div class="menu-header">
        <h1 class="menu-header-title">Nuts</h1>
        <p class="menu-header-info">
          <span class="emphasis">*Additional .90</span>
        </p>
      </div>
      <div class="flavors-wrapper">
        <p class="flavor">PEANUTS</p>
        <p class="flavor">CASHEWS</p>
        <p class="flavor">PECANS</p>
        <p class="flavor">ALMONDS</p>
        <p class="flavor">WALNUTS</p>
      </div>
      <div class="menu-header" id="ice-cream">
        <h1 class="menu-header-title">Ice Cream</h1>
      </div>
      <div class="menu-item">
        <p class="title"><span class="highlight">Dole Whip</span></p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">3.00</span>
          <span class="column-price">3.50</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title"><span class="highlight">Dole Whip Float</span></p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">3.10</span>
          <span class="column-price">3.60</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Cone</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">1.95</span>
          <span class="column-price">2.50</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Flavor Burst</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">2.50</span>
          <span class="column-price">3.05</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Topper</p>
        <div class="price-grid">
          <span class="column-title">Small</span>
          <span class="column-title">Large</span>
          <span class="column-price">2.50</span>
          <span class="column-price">3.05</span>
        </div>
      </div>
      <div class="menu-item">
        <p class="title">Sundae</p>
        <p class="price">3.60</p>
      </div>
      <div class="menu-item">
        <p class="title">Banana Split</p>
        <p class="price">5.50</p>
      </div>
    </div>
  </div>
{% endblock body %}

{% block extrascripts %}
  <script src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock extrascripts %}
